<div id="todoListContainer">
  <div class="row">
    <div class="col">
        <h1 id="todo-list-title" class="bd-title">My Todo List</h1> 
    </div>
    
  </div>
  <div id="row-list" class="row">
      <div id="col-list-group" class="col">
          <ul class="list-group">
              <li *ngFor="let item of todoList | async" class="list-group-item disabled">
                <p title="{{item.text}}">{{item.text}}</p>
              </li>
            </ul>
      </div>
      <div class="col">
        <div class="row">
            <div class="col">
                <button id="btn-delete-all-tasks" type="button" class="btn btn-outline-danger" (click)="clearStore()">Delete All Tasks</button>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div class="row error-msg-row">
                    <div class="alert alert-danger"  *ngIf="(extraTaskText | async) !== ''" role="alert">
                    The item {{(extraTaskText | async)}} couldn’t be inserted. <br />
                    </div>
                </div>
            </div>
        </div>
      </div>
    </div>
</div>




