<div id="todoListContainer">
  <div class="row">
    <div class="col-md-7">
        <h1 class="bd-title">My Todo List</h1>  
    </div>  
    <div class="col-md-5">
      <div id="totalTasksCounter" class="alert alert-info">
          <strong>Total Tasks:</strong> {{(todoList | async).length}}
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-8">
    <ul class="list-group">
      <li *ngFor="let item of todoList | async" class="list-group-item disabled">
        <p title="{{item.text}}">{{item.text}}</p>
      </li>
    </ul>
    </div>
    <div class="col-md-3">
      <button id="btnDeleteAllTasks" type="button" class="btn btn-outline-danger" (click)="clearStore()">Delete All Tasks</button>
    </div>
  </div>
</div>