@import url("../../variables.less");

#todoListContainer{
    
    .list-group{border:solid 1px gray;height: 362px;width:25.5vw}

    .list-group li p{    
        width: 16vw;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;display:inline-block;padding:0px;margin:0px;}
    
    .list-group li:before {
        content: url('../../assets/icons/clock_icon.png');
        position: relative;bottom:0px;right:5px;
    }

    .error-msg-row{width:21vw;margin-top:5px;}

    #col-list-group{width:45vw}

    #row-list{margin-top:20px;}

    .list-group-item{font-size: 2vw;}

    .list-group-item:last-child{.reset-border-radius}

    .list-group-item:first-child{.reset-border-radius}

    #todo-list-title{top:4vh;font-size:2.4vw;position: relative;}
        
    #btn-delete-all-tasks{font-size:@btnFontSize}  
}

