<div id="todoFormContainer">
  <div class="row">
    <div class="col-md-12">
      <form (ngSubmit)="addNewItem()">
        <div class="row">
          <div id="colTextBox" class="col-md-5">
            <input #todoTxt id="txtTodo" name="todoTxt" type="text" class="form-control" placeholder="Add Todo..."  autocomplete="off"/>
          </div>
          <div class="col-md-2">
            <input id="btnSubmitNewTask" type="submit" class="btn btn-default" value="Save"/>
          </div>
          <div class="col-md-5">
              <div id="totalTasksCounter" class="alert alert-info">
                  <strong>Total Tasks:</strong> {{(todoList | async).length}}
              </div>
          </div>
        </div>
      </form>
    </div>
  </div>
 
  
</div>